footer {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  & .social {
    display: flex;
    gap: 0.8rem;
    font-size: 2rem;
  }

  & .social.column {
    flex-direction: column;
  }

  & .footer {
    display: flex;
  }
  & .footer.column {
    transform: rotate(90deg);
  }
}

a {
  color: white;
  transition: all 0.8s ease-in-out;
}

.x:hover,
.f:hover,
.t:hover,
.g:hover {
  color: orangered;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
